body{

margin:0;
font-family:Arial;

scroll-behavior:smooth;

}


nav{

position:fixed;

top:0;

width:100%;

background:#111;

display:flex;

justify-content:space-between;

padding:20px;

color:white;

z-index:1000;

}


nav ul{

display:flex;

gap:25px;

list-style:none;

}


nav ul li a{

color:white;

text-decoration:none;

font-weight:bold;

}


.slide{

height:100vh;

display:flex;

flex-direction:column;

justify-content:center;

align-items:center;

text-align:center;

padding:40px;

}


#about{

background:#1f2937;

color:white;

}


#experience{

background:#f3f4f6;

}


#projects{

background:#e5e7eb;

}


#contact{

background:#111827;

color:white;

}


.card{

background:white;

padding:20px;

margin:20px;

border-radius:10px;

box-shadow:0 5px 15px rgba(0,0,0,0.1);

width:300px;

}
