body{
font-family: Arial;
margin:0;
padding:0;
background:#f5f5f5;
}


header{
background:#111;
color:white;
padding:15px;
}


nav{
display:flex;
justify-content:space-between;
align-items:center;
}


nav ul{
list-style:none;
display:flex;
gap:20px;
}


nav ul li a{
color:white;
text-decoration:none;
}


section{
padding:60px;
text-align:center;
}


#hero{
background:#007bff;
color:white;
padding:100px 20px;
}


.card{
background:white;
padding:20px;
margin:20px;
border-radius:10px;
box-shadow:0 2px 10px rgba(0,0,0,0.1);
}


.project{
background:white;
padding:20px;
margin:20px;
border-radius:10px;
box-shadow:0 2px 10px rgba(0,0,0,0.1);
}


footer{
background:#111;
color:white;
text-align:center;
padding:20px;
}